<template>
  <div ref="uploadContainer"></div>
</template>
<script lang="ts">
import { SingleImage } from './SingleImage';
import { Attachment } from './Attachment';
export default {
  props: ['modelValue', 'directory', 'type', 'maxCount', 'readonly', 'accept'],
  emits: ['update:modelValue', 'change'],
  data() {
    return {
      uiInstance: null,
    };
  },
  watch: {
    modelValue: {
      handler(val) {
        if (typeof val === 'string') {
          if (this.type === 'single') {
            this.uiInstance?.renderDefaultFile?.(val);
          } else {
            // attachment mode
            this.uiInstance?.renderDefaultFile?.(val.split(','));
          }
        }
      },
      deep: true,
    },
  },
  mounted() {
    const _this = this;
    const rootElement = this.$refs.uploadContainer;
    if (this.type === 'single') {
      this.uiInstance = new SingleImage({
        readonly: _this.readonly,
        rootElement: rootElement!,
        getFileUploadURL(file) {
          return Promise.resolve(`${_this.directory}/${file.uuid}_${file.name}`);
        },
        onNotify(file) {
          _this.$emit('update:modelValue', file);
          _this.$emit('change', file);
        },
      });
    } else if (_this.type === 'attachment') {
      // 附件模式
      this.uiInstance = new Attachment({
        readonly: _this.readonly,
        accept: _this.accept,
        rootElement: rootElement!,
        maxCount: _this.maxCount,
        getFileUploadURL(file) {
          return Promise.resolve(`${_this.directory}/${file.uuid}_${file.name}`);
        },
        onNotify(file) {
          _this.$emit('update:modelValue', file);
          _this.$emit('change', file);
        },
      });
    } else {
      console.warn('不支持该模式:%s,目前仅支持single/attachment', _this.type);
    }
    if (typeof this.modelValue === 'string') {
      if (this.type === 'single') {
        this.uiInstance.renderDefaultFile?.(this.modelValue);
      } else {
        // attachment mode
        this.uiInstance.renderDefaultFile?.(this.modelValue.split(','));
      }
    }
  },
};
</script>
